#agency, #route {
    font-weight: bold;
}

#currentTime, #stopInfo, #tripInfo {
    display: none;
}


#stopInfo {
    background-color: #B3D671;
}

#tripInfo {
    background-color: #2CAAE1;
}